
//green
$c_green_10: #012406;
$c_green_99: #64a407;
$c_green_100: #a4cc25;
$c_green_101: #c3dc41;

//grey
$c_grey_10: #535353;
$c_grey_50: #949494;
$c_grey_100: #d3d3d3;

//gold
$c_gold_100: #ca7f26;