@import 'variables';
@import 'colors';

//-----FONTS------------------------------------------------------------------------------------------------------------

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto);

// Font Variables
$roboto-slab: 'Roboto', serif;

//-----END FONTS--------------------------------------------------------------------------------------------------------
//-----GLOBALS----------------------------------------------------------------------------------------------------------

body{
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $roboto-slab;
  cursor: default;
}

#{$app_name}{

  .row{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: $basic_document_width;

    &.full_width{
      max-width: 100%;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }

  }

}

.btn{
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: $c_green_99;
  line-height: 20px;
  transition: 0.4s color ease;

  &:hover{
    color: $c_green_101;
  }

  //-----Style Sets

  &.styleSet_1{
    display: inline-block;
    padding: 0 0 0 20px;
    margin: 10px 0 10px 20px;
    border-left: 1px solid lightgray;
    text-decoration: none;

    &:first-child{
      border-left: 0;
    }

  }

  &.styleSet_2{

  }

  //-----END Style Sets

}

.sectionTitle{
  font-weight: 900;
  font-size: 20px;
}

hr{
  border: 0;
  border-top: 1px solid $c_grey_100;
}

.clear{
  clear: both;
}

select{

  &:focus{
    outline: none;
  }

}

//-----END GLOBALS------------------------------------------------------------------------------------------------------
//-----HEADER-----------------------------------------------------------------------------------------------------------


#{$app_name}{

  header{
    position: relative;
    padding: 5px 0;

    .siteLogo{
      display: block;
      position: relative;
      float: left;

      img{
        position: relative;
        height: 40px;
        margin-top: 10px;
      }
    }

    .headerBanner{
      position: relative;
      float: left;
      margin-left: 30px;
      text-decoration: none;
      color: $c_green_10;
      transition: 0.4s color ease;

      img{
        position: relative;
        float: left;
        height: 56px;
        width: 56px;
        margin-right: 20px;
      }

      p{
        position: relative;
        padding: 0;
        margin: 0;
        overflow: hidden;
        height: 40px;
        line-height: 18px;
        font-size: 13px;
        transition: 0.4s color ease;

      }

      div{
        position: relative;
        font-size: 12px;
        color: $c_green_100;
        transition: 0.4s color ease;
      }

      &:after {
        content: '';
        display: block;
        clear: both;
      }

      &:hover{

        p{
          color: $c_green_99;
        }

        div{
          color: $c_green_99;
        }

      }

    }

    .userNav{
      position: relative;
      float: right;

      .btn{
        margin-top: 20px;
      }

    }

    .row_2{
      margin-top: 10px;
      background-image: linear-gradient(90deg, $c_green_100, $c_green_99);
    }

  }

}

//-----END HEADER-------------------------------------------------------------------------------------------------------
//-----PRIMARY NAV------------------------------------------------------------------------------------------------------

#{$app_name} {

  .primaryNav {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: block;
        padding: 10px 20px;
        line-height: 20px;
        font-size: 14px;
        color: white;
        text-decoration: none;
        font-weight: 900;
        transition: 0.4s background-color ease;

        &:visited {
          color: white;

        }

        &:hover {
          background-color: $c_green_101;
        }

      }

      &.selected {

        a {
          background-color: $c_green_101;
          cursor: default;
        }

      }

    }

  }

}

//-----END PRIMARY NAV--------------------------------------------------------------------------------------------------
//-----SECONDARY NAV----------------------------------------------------------------------------------------------------

#{$app_name} {

  .secondaryNav {
    display: block;
    position: relative;
    padding: 0;
    margin: 20px 0 0 0;
    text-align: center;
    list-style: none;

    li {
      display: inline-block;
      min-width: 33.33%;

      a {
        display: block;
        padding: 10px 20px;
        line-height: 20px;
        font-size: 14px;
        color: $c_grey_10;
        text-decoration: none;
        font-weight: 900;
        transition: 0.4s background-color ease;
        border-top: 1px solid $c_grey_50;
        border-bottom: 1px solid $c_grey_50;

        &:visited {
          color: $c_grey_10;

        }

        &:hover {
          background-color: $c_green_101;
        }

      }

      &.selected {

        a {
          background-color: $c_green_101;
          color: white;
          cursor: default;
        }

      }

      &:first-child {
        a {
          border-radius: 5px 0 0 5px;
          border-left: 1px solid $c_grey_50;
        }
      }

      &:last-child {
        a {
          border-radius: 0 5px 5px 0;
          border-right: 1px solid $c_grey_50;
        }
      }

    }

  }

}

//-----END SECONDARY NAV------------------------------------------------------------------------------------------------
//-----PAGE RESULTS-----------------------------------------------------------------------------------------------------

#{$app_name}{

  .page{

    &.pageWinningResults{

      .row{

        //Page header and lottery date selector
        &.row_2{
          margin-top: 40px;

          h1{
            float: left;
            margin: 0;
            font-size: 20px;
            line-height: 40px;
          }

          .resultsLotteryDaySelector{
            float: right;
            line-height: 40px;

            select{
              position: relative;
              margin-left: 20px;
              line-height: 30px;
              height: 30px;
              border-radius: 5px;
              margin-top: 5px;
              cursor: pointer;
              font-size: 16px;
              padding: 0 10px;
            }

          }

        }

        //Winner combination
        &.row_3{
          position: relative;
          box-sizing: border-box;
          background-color: $c_green_100;
          padding: 20px;
          margin-top: 10px;

          h2{
            float: left;
            font-size: 18px;
            line-height: 30px;
            margin: 0;
            padding: 0;
            font-weight: 400;
            color: white;
            cursor: default;
          }

          .winnerCombination{
            position: relative;
            float: right;
            text-align: right;

            .lotteryNumber{
              display: inline-block;
              line-height: 30px;
              width: 30px;
              height: 30px;
              background-color: white;
              margin: 0 5px;
              border-radius: 50px;
              text-align: center;
              font-weight: 600;
            }

          }

        }

      }

    }

  }

}

//-----END PAGE RESULTS-------------------------------------------------------------------------------------------------