@import 'variables';
@import 'colors';

//-----MEDIA------------------------------------------------------------------------------------------------------------

$m350:  "only screen and (max-width: 350px)";
$m400:  "only screen and (max-width: 400px)";
$m660:  "only screen and (max-width: 660px)";
$m768:  "only screen and (max-width: 768px)";
$m960:  "only screen and (max-width: 960px)";
$m1024: "only screen and (max-width: 1024px)";
$m1200: "only screen and (max-width: 1200px)";

.hide_on_768 {

  @media #{$m768} {
    display: none !important;
  }

  //@media #{$m960} {
  //  width: 50% !important;
  //  margin: 0 !important;
  //}

}

//-----END MEDIA--------------------------------------------------------------------------------------------------------
//-----FONTS------------------------------------------------------------------------------------------------------------

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto);

// Font Variables
$roboto-slab: 'Roboto', serif;

//-----END FONTS--------------------------------------------------------------------------------------------------------
//-----GLOBALS----------------------------------------------------------------------------------------------------------

body{
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $roboto-slab;
  cursor: default;
  box-sizing: border-box;
}

#{$app_name}{

  .row{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: $basic_document_width;

    @media #{$m960} {
      margin: 0 2%;
      width: auto;
    }

    &.full_width{
      max-width: 100%;

      @media #{$m960} {
        margin: 0 0;
        width: auto;
      }

    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }


  }

  .btn{
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: $c_green_99;
    line-height: 20px;
    transition: 0.4s color ease;

    &:hover{
      color: $c_green_101;
    }

    //-----Style Sets

    &.styleSet_1{
      display: inline-block;
      padding: 0 0 0 20px;
      margin: 10px 0 10px 20px;
      border-left: 1px solid lightgray;
      text-decoration: none;

      &:first-child{
        border-left: 0;
      }

    }

    &.styleSet_2{

    }

    //-----END Style Sets

  }

  .sectionTitle{
    font-weight: 900;
    font-size: 20px;
  }

  hr{
    border: 0;
    border-top: 1px solid $c_grey_100;
  }

  .clear{
    clear: both;
  }

  select{

    &:focus{
      outline: none;
    }

  }

}

//-----END GLOBALS------------------------------------------------------------------------------------------------------
//-----Header-----------------------------------------------------------------------------------------------------------

#{$app_name}{

  header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
    width: 100%;
    padding: 5px 0 0 0;
    background-color: white;

    .siteLogo{
      display: block;
      position: relative;
      float: left;

      img{
        position: relative;
        height: 40px;
        margin-top: 10px;
      }
    }

    .headerBanner{
      position: relative;
      float: left;
      margin-left: 30px;
      text-decoration: none;
      color: $c_green_10;
      transition: 0.4s color ease;

      img{
        position: relative;
        float: left;
        height: 56px;
        width: 56px;
        margin-right: 20px;
      }

      p{
        position: relative;
        padding: 0;
        margin: 0;
        overflow: hidden;
        height: 40px;
        line-height: 18px;
        font-size: 13px;
        transition: 0.4s color ease;

      }

      div{
        position: relative;
        font-size: 12px;
        color: $c_green_100;
        transition: 0.4s color ease;
      }

      &:after {
        content: '';
        display: block;
        clear: both;
      }

      &:hover{

        p{
          color: $c_green_99;
        }

        div{
          color: $c_green_99;
        }

      }

    }

    .userNav{
      position: relative;
      float: right;

      .btn{
        margin-top: 20px;
      }

    }

    .row_2{
      margin-top: 10px;
      background-image: linear-gradient(90deg, $c_green_100, $c_green_99);
    }

  }

  .header_spacer{
    min-height: 120px;
  }

}

//-----END Header-------------------------------------------------------------------------------------------------------
//-----primaryNav-------------------------------------------------------------------------------------------------------

#{$app_name} {

  .primaryNav {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;

    li {
      position: relative;
      display: inline-block;

      a {
        display: block;
        padding: 10px 20px;
        line-height: 20px;
        font-size: 14px;
        color: white;
        text-decoration: none;
        font-weight: 900;
        transition: 0.4s background-color ease;

        //extra notification
        span{
          display: block;
          position: absolute;
          top: -6px;
          left: 3%;
          width: 94%;
          font-size: 9px;
          line-height: 12px;
          background-color: $c_purple_100;
          border-radius: 3px;
          text-transform: uppercase;
        }

        &:visited {
          color: white;

        }

        &:hover {
          background-color: $c_green_101;
        }

      }

      &.selected {

        a {
          background-color: $c_green_101;
          cursor: default;
        }

      }

    }

  }

}

//-----END primaryNav---------------------------------------------------------------------------------------------------
//-----secondaryNav-----------------------------------------------------------------------------------------------------

#{$app_name} {

  .secondaryNav {
    display: block;
    position: relative;
    padding: 0;
    margin: 20px 0 0 0;
    text-align: center;
    list-style: none;

    li {
      display: inline-block;
      min-width: 33.33%;

      a {
        display: block;
        padding: 10px 20px;
        line-height: 20px;
        font-size: 14px;
        color: $c_grey_10;
        text-decoration: none;
        font-weight: 900;
        transition: 0.4s background-color ease;

        border-top: 1px solid $c_grey_50;
        border-bottom: 1px solid $c_grey_50;

        &:visited {
          color: $c_grey_10;

        }

        &:hover {
          background-color: $c_green_101;
        }

      }

      &.selected {

        a {
          background-color: $c_green_101;
          color: white;
          cursor: default;
        }

      }

      &:first-child {
        a {
          border-radius: 5px 0 0 5px;
          border-left: 1px solid $c_grey_50;
        }
      }

      &:last-child {
        a {
          border-radius: 0 5px 5px 0;
          border-right: 1px solid $c_grey_50;
        }
      }

    }

  }

}

//-----END secondaryNav-------------------------------------------------------------------------------------------------
//-----InformationPanel-------------------------------------------------------------------------------------------------

#{$app_name} {

  .informationPanel{
    position: relative;
    box-sizing: border-box;
    border: 1px solid $c_grey_100;
    border-left: 4px solid $c_green_100;
    padding-left: 10px;
  }
}


//-----END InformationPanel---------------------------------------------------------------------------------------------
//-----Breadcrumbs------------------------------------------------------------------------------------------------------

#{$app_name} {

  .breadcrumbs{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 10px 0 10px 0;

    li{
      position: relative;
      float: left;
      color: $c_grey_10;
      padding-left: 20px;
      font-size: 14px;
      line-height: 20px;

      a{
        text-decoration: none;
        color: $c_green_100;
      }

      &:before{
        content: '\\';
        position: absolute;
        left: 5px;
        top: 0;
      }

      &:first-child{
        padding-left: 0;

        &:before{
          content: '';
        }
      }

    }
  }

}
//-----END Breadcrumbs--------------------------------------------------------------------------------------------------
//-----trustGrid--------------------------------------------------------------------------------------------------------

#{$app_name}{

  .trustGrid{
    position: relative;
    text-align: center;
    min-height: 100px;
    padding: 0;

    li{
      width: 20%;
      display: inline-block;
      vertical-align: middle;
      text-align: center;

      img{
        max-width: 100px;
      }
    }



  }

}

//-----END trustGrid----------------------------------------------------------------------------------------------------
//-----paymentGrid------------------------------------------------------------------------------------------------------

#{$app_name}{

  .paymentGrid{
    position: relative;
    margin: 20px 0;
    padding: 0;
    text-align: center;
    min-height: 100px;
    border: 1px solid $c_grey_100;
    display: flex;
    list-style: none;

    li{
      width: 20%;
      vertical-align: baseline;
      text-align: center;
      justify-content: center;
      align-self: center;

      img{
        display: inline;
        max-width: 100px;
        height: auto;
      }
    }



  }

}

//-----END paymentGrid--------------------------------------------------------------------------------------------------
//-----scenes/EuroJackPot_results---------------------------------------------------------------------------------------

#{$app_name}{

  .page{

    &.pageWinningResults{

      .row{

        //Page header and lottery date selector
        &.row_2{
          margin-top: 40px;

          h1{
            float: left;
            margin: 0;
            font-size: 20px;
            line-height: 40px;
          }

          .resultsLotteryDaySelector{
            float: right;
            line-height: 40px;

            select{
              position: relative;
              margin-left: 20px;
              line-height: 30px;
              height: 30px;
              border-radius: 5px;
              margin-top: 5px;
              cursor: pointer;
              font-size: 16px;
              padding: 0 10px;
            }

          }

        }

        //Winner combination
        &.row_3{
          position: relative;
          box-sizing: border-box;
          background-color: $c_green_100;
          padding: 20px;
          margin-top: 10px;

          h2{
            float: left;
            font-size: 18px;
            line-height: 30px;
            margin: 0;
            padding: 0;
            font-weight: 400;
            color: white;
            cursor: default;

            span{
              color: $c_green_10;
            }

          }

          .winnerCombination{
            position: relative;
            float: right;
            text-align: right;

            .lotteryNumber{
              display: inline-block;
              line-height: 30px;
              width: 28px;
              height: 28px;
              border: 1px solid $c_grey_100;
              background-color: white;
              margin: 0 5px;
              border-radius: 50px;
              text-align: center;
              font-weight: 600;

              &.extra{
                line-height: 28px;
                width: 26px;
                height: 26px;
                border: 2px solid $c_grey_100;
                border-color: $c_gold_100;
              }

            }

          }

        }

        .winnerCombinationsTable{
          position: relative;
          float: left;
          box-sizing: border-box;
          width: 65%;
          border: 1px solid $c_grey_100;
          margin: 20px 0 0 0;
          border-collapse: collapse;

          th{
            text-align: left;
            padding: 0 0 0 5px;
            line-height: 40px;
          }

          td{
            text-align: left;
            border-top: 1px solid $c_grey_100;
            padding: 10px 5px;
          }

        }

        .informationPanels{
          position: relative;
          float: right;
          width: calc(35% - 30px);

          .informationPanel{
            position: relative;
            margin: 20px 0 0 0;
            padding: 20px;

            h4{
              margin-top: 0;
            }

            p{
              margin: 0;
              font-size: 14px;
              line-height: 24px;
            }

          }
        }

        //Breadcrumbs row
        &.row_5{
          background-color: $c_grey_110;

          .row_5_1{
            margin-top: 20px;
          }

        }

      }

    }

  }

}

//-----END scenes/EuroJackPot_results-----------------------------------------------------------------------------------
//-----Footer-----------------------------------------------------------------------------------------------------------

#{$app_name}{

  footer{
    background-color: $c_grey_120;

    .row{

      //Lottoland logo
      &.row_1{
        padding: 20px;
        box-sizing: border-box;
      }

      &.row_2{
        padding-bottom: 100px;

        p{
          color: $c_grey_50;
          font-size: 13px;
          line-height: 20px;
          text-align: center;
          padding: 20px 0 0 0;

          a{
            color: $c_green_99;
            font-weight: 900;
            text-decoration: none;
          }

        }

      }


      .siteLogo{
        display: block;
        position: relative;
        text-align: center;

        img{
          position: relative;
          height: 40px;
          margin-top: 10px;
          filter: grayscale(100%);
        }
      }

    }

  }

}

//-----END Footer-------------------------------------------------------------------------------------------------------