@import url(https://fonts.googleapis.com/css?family=Roboto);
@media only screen and (max-width: 768px) {
  .hide_on_768 {
    display: none !important; } }

body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  cursor: default;
  box-sizing: border-box; }

#root {
  position: relative;
  width: 100vw;
  overflow-x: hidden; }
  #root .row {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 960px; }
    @media only screen and (max-width: 960px) {
      #root .row {
        margin: 0 2%;
        width: auto; } }
    #root .row.full_width {
      max-width: 100%; }
      @media only screen and (max-width: 960px) {
        #root .row.full_width {
          margin: 0 0;
          width: auto; } }
    #root .row:after {
      content: '';
      display: block;
      clear: both; }
  #root .btn {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: #64a407;
    line-height: 20px;
    transition: 0.4s color ease; }
    #root .btn:hover {
      color: #c3dc41; }
    #root .btn.styleSet_1 {
      display: inline-block;
      padding: 0 0 0 20px;
      margin: 10px 0 10px 20px;
      border-left: 1px solid lightgray;
      text-decoration: none; }
      #root .btn.styleSet_1:first-child {
        border-left: 0; }
  #root .sectionTitle {
    font-weight: 900;
    font-size: 20px; }
    @media only screen and (max-width: 768px) {
      #root .sectionTitle {
        font-size: 16px;
        text-align: center; } }
  #root hr {
    border: 0;
    border-top: 1px solid #d3d3d3; }
  #root .clear {
    clear: both; }
  #root select:focus {
    outline: none; }

#root header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  padding: 5px 0 0 0;
  background-color: white; }
  #root header .siteLogo {
    display: block;
    position: relative;
    float: left; }
    #root header .siteLogo img {
      position: relative;
      height: 40px;
      margin-top: 10px; }
  #root header .headerBanner {
    position: relative;
    float: left;
    margin-left: 30px;
    text-decoration: none;
    color: #012406;
    transition: 0.4s color ease; }
    #root header .headerBanner img {
      position: relative;
      float: left;
      height: 56px;
      width: 56px;
      margin-right: 20px; }
    #root header .headerBanner p {
      position: relative;
      padding: 0;
      margin: 0;
      overflow: hidden;
      height: 40px;
      line-height: 18px;
      font-size: 13px;
      transition: 0.4s color ease; }
    #root header .headerBanner div {
      position: relative;
      font-size: 12px;
      color: #a4cc25;
      transition: 0.4s color ease; }
    #root header .headerBanner:after {
      content: '';
      display: block;
      clear: both; }
    #root header .headerBanner:hover p {
      color: #64a407; }
    #root header .headerBanner:hover div {
      color: #64a407; }
  #root header .userNav {
    position: relative;
    float: right; }
    #root header .userNav .btn {
      margin-top: 20px; }
  #root header .row_2 {
    margin-top: 10px;
    background-image: linear-gradient(90deg, #a4cc25, #64a407); }
  @media only screen and (max-width: 960px) {
    #root header {
      position: relative; }
      #root header .row_1 {
        margin-bottom: 10px; } }
#root .header_spacer {
  min-height: 120px; }
  @media only screen and (max-width: 960px) {
    #root .header_spacer {
      display: none !important; } }

#root .primaryNav {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none; }
  #root .primaryNav li {
    position: relative;
    display: inline-block; }
    #root .primaryNav li a {
      display: block;
      padding: 10px 20px;
      line-height: 20px;
      font-size: 14px;
      color: white;
      text-decoration: none;
      font-weight: 900;
      transition: 0.4s background-color ease; }
      #root .primaryNav li a span {
        display: block;
        position: absolute;
        top: -6px;
        left: 3%;
        width: 94%;
        font-size: 9px;
        line-height: 12px;
        background-color: #9d196b;
        border-radius: 3px;
        text-transform: uppercase; }
      #root .primaryNav li a:visited {
        color: white; }
      #root .primaryNav li a:hover {
        background-color: #c3dc41; }
      @media only screen and (max-width: 960px) {
        #root .primaryNav li a {
          font-size: 10px; } }
      @media only screen and (max-width: 768px) {
        #root .primaryNav li a {
          font-size: 12px; } }
    #root .primaryNav li.selected a {
      background-color: #c3dc41;
      cursor: default; }
    @media only screen and (max-width: 768px) {
      #root .primaryNav li {
        min-width: 25%; } }

#root .secondaryNav {
  display: block;
  position: relative;
  padding: 0;
  margin: 20px 0 0 0;
  text-align: center;
  list-style: none; }
  #root .secondaryNav li {
    display: inline-block;
    min-width: 33.33%; }
    #root .secondaryNav li a {
      display: block;
      padding: 10px 20px;
      line-height: 20px;
      font-size: 14px;
      color: #535353;
      text-decoration: none;
      font-weight: 900;
      transition: 0.4s background-color ease;
      border-top: 1px solid #949494;
      border-bottom: 1px solid #949494; }
      #root .secondaryNav li a:visited {
        color: #535353; }
      #root .secondaryNav li a:hover {
        background-color: #c3dc41; }
    #root .secondaryNav li.selected a {
      background-color: #c3dc41;
      color: white;
      cursor: default; }
    #root .secondaryNav li:first-child a {
      border-radius: 5px 0 0 5px;
      border-left: 1px solid #949494; }
    #root .secondaryNav li:last-child a {
      border-radius: 0 5px 5px 0;
      border-right: 1px solid #949494; }
    @media only screen and (max-width: 960px) {
      #root .secondaryNav li {
        min-width: 30%; } }
    @media only screen and (max-width: 768px) {
      #root .secondaryNav li {
        min-width: auto; } }
    @media only screen and (max-width: 660px) {
      #root .secondaryNav li {
        position: relative;
        display: block; }
        #root .secondaryNav li a {
          box-sizing: border-box;
          width: 100%;
          text-align: center;
          padding: 0 1%;
          border: 0 !important;
          border-radius: 0 !important;
          background-color: #f5f5f5; } }

#root .informationPanel {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
  border-left: 4px solid #a4cc25;
  padding-left: 10px; }

#root .breadcrumbs {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 10px 0 10px 0; }
  #root .breadcrumbs li {
    position: relative;
    float: left;
    color: #535353;
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px; }
    #root .breadcrumbs li a {
      text-decoration: none;
      color: #a4cc25; }
    #root .breadcrumbs li:before {
      content: '\\';
      position: absolute;
      left: 5px;
      top: 0; }
    #root .breadcrumbs li:first-child {
      padding-left: 0; }
      #root .breadcrumbs li:first-child:before {
        content: ''; }

#root .trustGrid {
  position: relative;
  text-align: center;
  min-height: 100px;
  padding: 0; }
  #root .trustGrid li {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    text-align: center; }
    #root .trustGrid li img {
      max-width: 100px; }

#root .paymentGrid {
  position: relative;
  margin: 20px 0;
  padding: 0;
  text-align: center;
  min-height: 100px;
  border: 1px solid #d3d3d3;
  display: flex;
  flex-wrap: wrap;
  list-style: none; }
  #root .paymentGrid li {
    width: 20%;
    vertical-align: baseline;
    text-align: center;
    justify-content: center;
    align-self: center;
    flex-basis: auto;
    flex-grow: 1; }
    #root .paymentGrid li img {
      display: inline;
      max-width: 100px;
      height: auto; }
    @media only screen and (max-width: 768px) {
      #root .paymentGrid li {
        min-width: 200px;
        width: 200px; } }

#root .page.pageWinningResults .row.row_2 {
  margin-top: 40px; }
  #root .page.pageWinningResults .row.row_2 h1 {
    float: left;
    margin: 0;
    line-height: 40px; }
    @media only screen and (max-width: 768px) {
      #root .page.pageWinningResults .row.row_2 h1 {
        float: none;
        line-height: 20px; } }
  #root .page.pageWinningResults .row.row_2 .resultsLotteryDaySelector {
    float: right;
    line-height: 40px; }
    #root .page.pageWinningResults .row.row_2 .resultsLotteryDaySelector select {
      position: relative;
      margin-left: 20px;
      line-height: 30px;
      height: 30px;
      border-radius: 5px;
      margin-top: 5px;
      cursor: pointer;
      font-size: 16px;
      padding: 0 10px; }
    @media only screen and (max-width: 768px) {
      #root .page.pageWinningResults .row.row_2 .resultsLotteryDaySelector {
        float: none;
        width: 100%;
        line-height: 20px;
        margin-top: 20px; }
        #root .page.pageWinningResults .row.row_2 .resultsLotteryDaySelector select {
          margin: 0 2%;
          width: 46%; } }
  @media only screen and (max-width: 768px) {
    #root .page.pageWinningResults .row.row_2 {
      margin-top: 20px; } }
#root .page.pageWinningResults .row.row_3 {
  position: relative;
  box-sizing: border-box;
  background-color: #a4cc25;
  padding: 20px;
  margin-top: 10px; }
  #root .page.pageWinningResults .row.row_3 h2 {
    float: left;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: white;
    cursor: default; }
    #root .page.pageWinningResults .row.row_3 h2 span {
      color: #012406; }
    @media only screen and (max-width: 768px) {
      #root .page.pageWinningResults .row.row_3 h2 {
        float: none;
        width: 100%;
        text-align: center; } }
  #root .page.pageWinningResults .row.row_3 .winnerCombination {
    position: relative;
    float: right;
    text-align: right; }
    #root .page.pageWinningResults .row.row_3 .winnerCombination .lotteryNumber {
      display: inline-block;
      line-height: 30px;
      width: 28px;
      height: 28px;
      border: 1px solid #d3d3d3;
      background-color: white;
      margin: 0 5px;
      border-radius: 50px;
      text-align: center;
      font-weight: 600; }
      #root .page.pageWinningResults .row.row_3 .winnerCombination .lotteryNumber.extra {
        line-height: 28px;
        width: 26px;
        height: 26px;
        border: 2px solid #d3d3d3;
        border-color: #ca7f26; }
    @media only screen and (max-width: 768px) {
      #root .page.pageWinningResults .row.row_3 .winnerCombination {
        float: none;
        width: 100%;
        text-align: center; } }
#root .page.pageWinningResults .row .winnerCombinationsTable {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 65%;
  border: 1px solid #d3d3d3;
  margin: 20px 0 0 0;
  border-collapse: collapse; }
  #root .page.pageWinningResults .row .winnerCombinationsTable th {
    text-align: left;
    padding: 0 0 0 5px;
    line-height: 40px; }
  #root .page.pageWinningResults .row .winnerCombinationsTable td {
    text-align: left;
    border-top: 1px solid #d3d3d3;
    padding: 10px 5px; }
  @media only screen and (max-width: 768px) {
    #root .page.pageWinningResults .row .winnerCombinationsTable {
      float: none;
      width: 100%;
      text-align: center; } }
#root .page.pageWinningResults .row .informationPanels {
  position: relative;
  float: right;
  width: calc(35% - 30px); }
  #root .page.pageWinningResults .row .informationPanels .informationPanel {
    position: relative;
    margin: 20px 0 0 0;
    padding: 20px; }
    #root .page.pageWinningResults .row .informationPanels .informationPanel h4 {
      margin-top: 0; }
    #root .page.pageWinningResults .row .informationPanels .informationPanel p {
      margin: 0;
      font-size: 14px;
      line-height: 24px; }
  @media only screen and (max-width: 768px) {
    #root .page.pageWinningResults .row .informationPanels {
      float: none;
      width: 100%;
      text-align: center; } }
#root .page.pageWinningResults .row.row_5 {
  background-color: #eaeaea; }
  #root .page.pageWinningResults .row.row_5 .row_5_1 {
    margin-top: 20px; }

#root footer {
  background-color: #f5f5f5; }
  #root footer .row.row_1 {
    padding: 20px;
    box-sizing: border-box; }
  #root footer .row.row_2 {
    padding-bottom: 100px; }
    #root footer .row.row_2 p {
      color: #949494;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      padding: 20px 0 0 0; }
      #root footer .row.row_2 p a {
        color: #64a407;
        font-weight: 900;
        text-decoration: none; }
  #root footer .row .siteLogo {
    display: block;
    position: relative;
    text-align: center; }
    #root footer .row .siteLogo img {
      position: relative;
      height: 40px;
      margin-top: 10px;
      filter: grayscale(100%); }

/*# sourceMappingURL=index.css.map */
